.venv/
venv/
__pycache__/
*.pyc
.env
.DS_Store
.ipynb_checkpoints/
README.md.save

data/raw/
data/interim/

*.parquet
*.pkl
*.joblib
*.zip
*.log

data/processed/tableau_customer_retention_base.csv
data/processed/ab_test_outputs/ab_test_candidate_population.csv
